<!--[if lt IE 9 ]>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<!DOCTYPE html>
<html>
<!--<![endif]-->
<head>
<meta charset="UTF-8" />

	<link href="http://image.zhubao.com/css/??common.css,artDialog/twitter.css" rel="stylesheet" type="text/css" />
	${mergeResource.css("css/Global.css,css/component.css,app/css/common.css", "")}
	<script src="http://image.zhubao.com/js/??jquery.js,jquery.migrate.js" type="text/javascript"></script>
	<!--[if IE 6]>
	<script src="http://image.zhubao.com/js/DD_belatedPNG.js" type="text/javascript"></script>
	<script type="text/javascript">
		DD_belatedPNG.fix(".icon, .per_class h3");
	</script> 
	<![endif]-->
	<title>#if($page_title)${page_title} - #end珠宝网</title>
</head>
<body>